* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(2, 40, 71);
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width : 600px) {
  body {
    background-color: rgb(2, 40, 71);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

h2,
#cont {
  margin: 30px 0;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inp,
#outp {
  height: 50px;
  width: 70%;
  max-width: 400px;
  margin: 20px 0;
  border: solid 3px #b5b5b5;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(2, 40, 71);
}

:is(input)::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: white;
}

button {
  height: 80px;
  background-color: inherit;
  font-size: 55px;
  font-weight: 900;
  border: 0;
}

button:hover {
  color: red;
}

.run {
  color: #fff;
  animation: run 300ms alternate-reverse;
}

@keyframes run {

  100%,
  0% {
    transform: translateX(2%);
  }

  25% {
    transform: translateX(-2%);
  }

  50% {
    transform: translateX(-4%);
  }

  75% {
    transform: translateX(4%);
  }
}